<div id="about">
    <div class="fixed-bg">
<header>
    <div class="container">
      <div id="branding">
        <!--<h1><span class="highlight">Prabhakar Sharma</span></h1>-->
      </div>
      <nav>
        <ul class="nav nav-pills">
                <li routerLinkActive="active"><a  [routerLink]="['/home']">Home</a></li>
                <li routerLinkActive="active"><a class="roundborder" [routerLink]="['/about']">Get in Touch</a></li>
                <li routerLinkActive="active"><a href="https://docs.google.com/document/d/1zoGkNdLuUE_Xqmy3QeMrUUtfcN1ymF7N0z5bJGHoc3I/edit" target="blank">Resume</a></li>
        </ul>
    </nav>
    </div>
</header>
<!--
<section id="newsletter">
        <div class="container">
          <h1>Subscribe To Our Newsletter</h1>
          <form>
            <input type="email" placeholder="Enter Email...">
            <button type="submit" class="button_1">Subscribe</button>
          </form>
        </div>
      </section>
    -->  
<section id="showcase">
        <div class="container">
            <div class="center">
                <div id="cf">
                    <img class="top lazyload border bg-white p1 border-light-gray circle square-100" src="/images/profilepic/prabhakarprofile.jpg" width="50px" height="50px"/>
                    <img class="bottom lazyload border bg-white p1 border-light-gray circle square-100" src="/images/profilepic/profilepic.png" width="50px" height="50px"/>
            </div>
        </div>
<!--          <article id="main-col"> -->
            <!--<h1 class="page-title">Comments</h1>-->
            <div id="shortdetails">
            <div class="dark">
                <p>Thanks for taking the time to reach out. What can I do for you today?</p>

                <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="quote">
                      <div class="form-group">
                              <!--<label for="contactname"> Your Name </label>-->
                              <input type="text"
                              id="content" 
                              class="form-control text"
                              ngModel
                              name="content"
                              required
                              placeholder="Name"
                              >
                          </div>
                          <div class="form-group">
                              <!--<label for="message">Message </label>-->
                              <textarea type="text"
                              id="message" 
                              class="form-control textarea"
                              ngModel
                              name="message"
                              required
                              placeholder="Message"
                              ></textarea>
                          </div>
  
                          <button class="button_1" type="submit" >Send Message</button>
                  </form>
                  </div>
                  </div>
            <!--            <ul id="services">

            </ul>
          </article>
          -->

        </div><!-- container -->
      </section>    
</div>
</div>

      <section id="showmessages">
        <div class="container">
          <article id="main-col">
              <prabhu-messages></prabhu-messages>
            </article>
          </div>
      </section>
